<div class="top_page">
  <div class="top_title">
    <h2>最新ニュース</h2>
  </div>
  <div class="top_content_media">
    <% TopContent.order(created_at: :desc).limit(1) %>
      <% @top_contents.each do |top_content| %>
        <h5><%= top_content.title %></h5>
        <%= image_tag top_content.url.url if top_content.url? %>
        <%= top_content.caption %>
        <div class="tool_section">
          <%= render "top_contents/tool", top_content: top_content %>
        </div>
    <% end %>
  </div>
  <% if current_user %>
    <div class="top_toolbar">
      <div class="top_pics_upload_button">
        <%= link_to "写真／動画をアップする", :new_top_content, class: "btn btn-outline-dark btn-sm" %>
      </div>
     <div class="top_pics_tool_button">
        <%= menu_link_to "トップページ写真／動画を確認", :top_contents, class: "btn btn-info btn-sm" %>
      </div>
    </div>
  <% end %>

  <div class="articles">
    <% @articles.each do |article| %>
      <h6><%= link_to article.title, article %></h6>
        <%= strip_tags(article.content.to_s).truncate(200) %>
        <%= link_to "もっと読む", article %>
    <% end %>
  </div>
</div>
