<div id="top_page_wrapper">
  <div class="top_content_1st_row">
    <div class="top_1st_row_wrapper grid">
    <!-- カバーストーリー掲載エリア -->
      <div class="top_cover_story">
         <% @cover_stories = CoverStory.where("start_at <= ?", Time.now).where("finish_at >= ?", Time.now).or(CoverStory.where("start_at <= ?", Time.now).where(finish_at: nil)).or(CoverStory.where(start_at: nil)).order(created_at: :desc).limit(1) %>
          <% @cover_stories.each do |cover_story| %>
          <div class="cover_story_title">
            <h5><%= cover_story.title %></h5>
          </div>
          <div class="cover_story_content">
            <%= strip_tags(cover_story.content.to_s).truncate(200) %>
            <%= link_to "全文表示", cover_story %>
          </div>
        <% end %>
  　  </div>
      <!-- カバーストーリー掲載エリアここまで -->
      <div class="top_content_media">
        <%# <% TopContent.order(created_at: :desc) %>
          <% @top_contents.each do |top_content| %>
            <div class="top_content_title">
              <h5><%= top_content.title %></h5>
            </div>
            <div class="top_content_url">
              <% if top_content.url? %>
                <%= link_to top_content.url.url, 'data-lightbox': top_content.url do %>
                  <% if top_content.url.file.content_type.include?("image/")%>
                    <%= image_tag top_content.url.url(:thumb) if top_content.url? %>
                  <% else %>
                    <%= video_tag top_content.url.url, width: "100%", height: "auto", controls: true, autobuffer: true %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="top_caption">
              <%= top_content.caption %>
            </div>

           <% if current_user && loyalty(@top_content, :top_contents).index? %>
             <div class="tool_section">
               <%= render "top_contents/tool", top_content: top_content %>
             </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="top_content_2nd_row">
    <% if current_user && loyalty(@top_content, :top_contents).index? %>
      <!-- カバーストーリー用ボタン -->
      <div class="tool_for_cover_story">
        <div class="covers_up_button">
          <%= link_to "カバーストーリーを掲載する", :new_cover_story, class: "btn btn-info btn-sm" %>
        </div>
        <div class="covers_index_button">
          <%= menu_link_to "カバーストーリーを確認", :cover_stories, class: "btn btn-outline-dark btn-sm" %>
        </div>
      </div>
      <!-- ここまでカバーストーリー用ボタン -->
      <div class="top_toolbar">
        <div class="float-right top_pics_upload_button">
          <%= link_to "写真／動画をアップする", :new_top_content, class: "btn btn-info btn-sm" %>
        </div>
        <div class="top_pics_tool_button">
          <%= menu_link_to "トップページ写真／動画を確認", :top_contents, class: "btn btn-outline-dark btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="top_content_3rd_row_wrapper">
    <!-- 3rd_row左側ここから -->
    <div class="top_content_3rd_row_left">
      <div class="top_page_articles_index">
        <div class="articles_index_title">
          <h6>最新ニュース</h6>
        </div>
        <% @articles.each do |article| %>
          <h6><%= link_to article.title, article %></h6>
        <% end %>
        <div class="top_articles_tool_button">
          <%= menu_link_to "ニュース一覧へ", :articles %>
        </div>
      </div>

      <div class="top_page_columns_index">
        <div class="column_index_title">
          <h6>最新コラム</h6>
        </div>
        <% @special_issues = SpecialIssue.order(created_at: :desc).limit(5) %>
          <% @special_issues.each do |special_issue| %>
          <h6><%= link_to special_issue.major_title, special_issue %></h6>
        <% end %>
        <div class="top_columns_tool_button">
          <%= menu_link_to "コラムシリーズ一覧へ", special_issues_path(@special_issues) %>
        </div>
      </div>
         <!-- お知らせ版掲載領域 -->
  <div class="top_page_message">
    <div class="top_page_message_title_area">
      <h4>掲示板</h4>
    </div>
    <% @messages = Message.order(created_at: :desc).limit(1) %>
      <% if @messages.present? %>
        <% @messages.each do |message| %>
          <div class="top_message_title">
            <h5><%= link_to message.title, message %></h5>
          </div>
          <div class="top_whole_message_content_area">
            <div class="top_message_content">
              <%= simple_format(message.content) %>
            </div>
            <div class="top_message_media">
              <% if message.picture? %>
                <% if message.picture.file.content_type.include?('image/') %>
                  <%= link_to message.picture.url, 'data-lightbox': message.picture do %>
                    <%= image_tag message.picture.url(:thumb) %>
                  <% end %>
                <% else %>
                  <%= link_to message.picture.url, 'data-lightbox': message.picture do %>
                    <%= video_tag message.picture.url, width: "30%", height: "30%", controls: true, autobuffer: true %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <% if current_user && loyalty(@top_content, :top_contents).index? %>
            <div class="top_message_tool_for_edit_delete">
              <%= render "messages/footer", message: message %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="page_voide_notice">
          <p>現在掲載はありません</p>
        </div>
      <% end %>
      <% if current_user && loyalty(@top_content, :top_contents).index? %>
        <div class="top_message_tool">
          <%= menu_link_to "掲示板一覧／新規作成", :messages %>
        </div>
      <% end %>
    </div>
  </div>
      <!-- 3rd_row左側ここまで -->
      <!-- ３ｒｄ_row右側ここから(サイドバーが入るボックス) -->
    <div class="top_content_3rd_row_right">
      <%# <%= render "shared/questionnaire" %>
      <%= render "shared/advertisement" %>
      <%= render "shared/sidebar" %>
    </div>
      <!-- ３ｒｄ_row右側ここまで -->
  </div>
</div>
