<%= render "shared/errors", obj: @message %>

<table class="attr">
  <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title %></td>
  </tr>
  <tr>
    <th><%= form.label :content %></th>
    <td><%= form.text_area :content, rows: 10, cols: 47 %></td>
  </tr>
</table>
