<%= render "shared/errors", obj: @message %>

<div class="messages_form_wrapper">
  <div class="messages_form_title_label">
    <%= form.label :title %>
  </div>
  <div class="messages_form_title_field">
    <%= form.text_field :title %>
  </div>

  <div class="messages_form_content_label">
    <%= form.label :content %>
  </div>
  <div class="messages_form_content_field">
    <%= form.text_area :content %>
  </div>
</div>
