<div class="messages_index_wrapper">
  <div class="message_title">
    <% @page_title = "掲示板一覧" %>
    <h4><%= @page_title %></h4>
  </div>

  <div class="current_user_toolbar">
    <% if current_user && loyalty(@message, :messages).index? %>
      <div class="toolbar">
        <%= link_to "掲示板記事新規作成", new_message_path, class: "btn btn-info btn-sm active" %>
      </div>
    <% end %>
  </div>

  <div class="message_content_area">
    <% if @messages.present? %>
      <% @messages.each do |message| %>
        <div class="index_message_title">
          <h5><%= link_to message.title, message %></h5>
        </div>
        <div class="index_message_content">
          <p><%= simple_format(message.content) %></p>
        </div>
        <div class="index_message_media">
          <% if message.picture? %>
            <%= link_to message.picture.url, 'data-lightbox': message.picture do %>
              <% if message.picture.file.content_type.include?('image/') %>
                <%= image_tag message.picture.url(:thumb) %>
              <% else %>
                <%= video_tag message.picture.url, width: "100%", height: "auto",
                                  controls: true, autobuffer: true %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <% if current_user && loyalty(@top_content, :top_contents).index? %>
          <div class="message_index_footer">
            <%= render "messages/footer", message: message %>
          </div>
        <% end %>
      <% end %>
      <%= paginate @messages %>
    <% else %>
      <p>掲載はありません</p>
    <% end %>
  </div>
</div>
