<% @page_title = "【掲示板】" %>
<h1><%= @page_title %></h1>

<% if current_user %>
  <div class="toolbar"><%= link_to "掲示板掲載", new_message_path %></div>
<% end %>

<% if @messages.present? %>
  <% @messages.each do |message| %>
    <h1><%= link_to message.title, message %></h1>
    <p><%= message.content %></p>
    <% if message.picture? %>
      <% if message.picture.file.content_type.include?('image/') %>
        <%= image_tag message.picture.url(:thumb) %>
      <% else %>
        <%= video_tag message.picture.url, width: "30%", height: "30%",
                        controls: true, autobuffer: true %>
      <% end %>
    <% end %>
  <% end %>
  <%= paginate @messages %>
<% else %>
  <p>掲載はありません</p>
<% end %>
