<div class=message_new_title>
  <% @page_title = "掲示板新規作成" %>
  <h5><%= @page_title %></h5>
</div>

<%= form_for @message do |form| %>
  <%= render "form", form: form %>
  <div class="message_new_picture_button">
    <span>
      <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png, video/*' %>
    </span>
  </div>
  <div class="message_new_upload_button">
    <%= form.submit "登録する", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
<!-- <script type="text/javascript">
  $('#message_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 10) {
      alert('ファイルの最大サイズは10MBです。10MB未満のファイル容量にしてください');
    }
  });
</script> -->
