<% @page_title = "掲示板" %>
<h1><%= @message.title %></h1>
<%= @message.content %>
<% if @message.picture? %>
  <% if @message.picture.file.content_type.include?('image/') %>
    <%= image_tag @message.picture.url(:thumb) %>
  <% else %>
    <%= video_tag @message.picture.url, width: "30%", height: "30%",
                  controls: true, autobuffer: true %>
  <% end %>
<% end %>
<%= render "footer", message: @message %>
