<% @page_title = "コラムカテゴリーの編集" %>
<h5><%= @page_title %></h5>

<div class="toolbar"><%= link_to "コラムカテゴリーの一覧表示に戻る", @special_issue_category %></div>

<%= form_for @special_issue_category do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit %></div>
<% end %>
