<div class="sp_iss_cate_show_title">
  <% @page_title = "カテゴリーネーム" %>
    <% unless @special_issue_category.is_display %>
    <h5><%= @special_issue_category.category_name %></h5>
</div>

  <% if current_user && loyalty(@special_issue_category, :special_issue_categories).show? %>
    <div class="special_issue_regist">
      <div class="special_issue_button">
        <% if current_user %>
          <div class="toolbar"><%= link_to "コラム・企画記事を作成する", :new_special_issue, class: "btn btn-outline-primary btn-sm" %></div>
        <% end %>
      </div>
    </div>
  <% end %>
<div class="sp_iss_cate_show_wrapper">
  <!-- ワイド画面用の規定ここから -->
  <div class="sp_iss_cate_show_content">
    <table class="table table-md table-condenced table-hover">
      <% @special_issues = @special_issue_category.special_issues.order(created_at: :desc).page(params[:page]).per(10) %>
        <ul><% @special_issues.each do |special_issue| %></ul>
          <tr>
            <td class="sp_iss_cat_title"><li><%= link_to special_issue.major_title, special_issue %></li></td>
            <td class="sp_iss_cat_strftime"><%= special_issue.created_at.strftime("掲載日時　%Y/%m/%d %H:%M") %></td>
           <% end %>
          </tr>
    </table>
    <div class="paginate">
      <%= paginate @special_issues %>
    </div>
  </div>
  <% else%>
  <div class="suspend_notice">
    <p>掲載を中止しています</p>
  </div>
  <% end %>
  <div class="sp_iss_cate_footer">
    <%= render "footer", special_issue_category: @special_issue_category %>
  </div>
    <!-- ワイド画面用の規定ここまで -->
    <!-- レスポンシブ用規定ここから -->
    <div class="sp_iss_cate_show_content_for_responsive">
      <!-- <div class="sp_iss_cate_title_row"> -->
        <% @special_issues = @special_issue_category.special_issues.order(created_at: :desc).page(params[:page]).per(10) %>
        <% @special_issues.each do |special_issue| %>
        <div class="sp_iss_cate_title_and_datetime">
          <div class="sp_iss_cat_show_title">
            <li><%= link_to special_issue.major_title, special_issue %></li>
          </div>
          <div class="sp_iss_cat_strftime">
            <%= special_issue.created_at.strftime("掲載日時　%Y/%m/%d %H:%M") %>
          </div>
        </div>
        <% end %>
      <!-- </div> -->
      <div class="paginate">
      <%= paginate @special_issues %>
    </div>
    </div>

    <!-- レスポンシブ用規定ここまで -->
</div>
