<% @page_title = "カテゴリーネーム" %>
<% unless @special_issue_category.is_display %>
  <h5><%= @special_issue_category.category_name %></h5>

  <div class="special_issue_regist">
    <div class="special_issue_button">
      <% if current_user %>
        <div class="toolbar"><%= link_to "コラム・企画記事を作成する", new_special_issue_path %></div>
      <% end %>
    </div>
  </div>

  <% @special_issues = @special_issue_category.special_issues.order(created_at: :asc).page(params[:page]).per(5) %>
  <ul><% @special_issues.each do |special_issue| %></ul>
  <tr>
    <td><li><%= link_to special_issue.major_title, special_issue %></li></td>
    <td class="strftime"><%= special_issue.created_at.strftime("%Y/%m/%d %H:%M") %></td>
    <% end %>
  </tr>
　<% else%>
<p>掲載を中止しています</p>
<% end %>
<%= render "footer", special_issue_category: @special_issue_category %>
