<h4>サインアップ</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <dd><%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザーネーム" %></dd>
      </div>
      <div class="field">
        <dd><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %></dd>
      </div>
      <div class="field">
        <dd><%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(６文字以上)" %></dd>
      </div>
      <div class="field">
        <dd><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードの再確認" %></dd>
      </div>
    <div class="actions">
      <%= f.submit "サインアップ", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
