<%= render "shared/errors", obj: @article %>
<div class="article_form_wrapper">
  <div class="article_form_title">
    <%= form.text_field :title, placeholder: "タイトル入力欄" %>
  </div>
  <div class="article_form_content">
    <%= form.rich_text_area :content, placeholder: "本文入力欄" %>
  </div>
  <div class="article_start_date_box_row">
    <div class="article_form_no_start_date_ck_box">
      <%= form.check_box :no_start_date?, checked: false %>
    </div>
    <div class="article_form_no_start_date_label">
      <%= form.label :no_start_date %>
    </div>
  </div>
  (※掲載開始日時を指定した際には、掲載終了日の指定も必要になります)
  <div class="article_form_start_date_label">
    <%= form.label :start_date %>
  </div>
  <div class="article_form_date_select">
    <%= form.datetime_select :start_date %>
  </div>
  <div class="article_finish_date_box_row">
    <div class="article_form_no_finish_date_ck_box">
      <%= form.check_box :no_finish_date?, checked: false %>
    </div>
    <div class="article_form_no_finish_date_label">
      <%= form.label :no_finish_date %>
    </div>
  </div>
  <div class="article_form_finish_date">
    <%= form.label :finish_date %>
  </div>
  <div class="article_form_date_select">
    <%= form.datetime_select :finish_date %>
  </div>
</div>
