<% @page_title = "最新ニュース" %>
<h1><%= @page_title %></h1>

<div class="toobar"><%= link_to "新規作成", :new_article %></div>

<% if @articles.present? %>
  <table class=list>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>日時</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.title, article %></td>
          <td><%= article.released_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
            <%= link_to "編集", [:edit, article ] %> |
            <%= link_to "削除", article, method: :delete,
              data: { confirm: "本当に削除してもよろしいですか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p>ニュースがありません</p>
  <% end %>
