<%= render "shared/errors", obj: @eventguide %>

<table class="attr">
  <tr>
    <th width="80"><%= form.label :title %></th>
    <td><%= form.text_field :title, size: 50 %></td>
  </tr>
  <tr>
    <th><%= form.label :content %></th>
    <td><%= form.rich_text_area :content, rows: 100, cols: 45 %></td>
  </tr>
</table>
<tr>
  <td>
    <%= form.check_box :is_display %>
    <%= form.label :is_display, "掲載しない" %>
  </td>
</tr>
