<div class="header_nav_container">
  <nav class="navbar navbar-expand-lg  navbar-light bg-light">
    <a class="navbar-brand" href="https://hokuu-onlines.herokuapp.com/" target="blank">
      <%= image_tag "hokuu_header5.png", alt: "北羽新報" %>
      <%# <%= video_tag("/assets/animated_header_logo3.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    <!-- </a> -->
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bs-navi">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="nav-link"><%= link_to "ホーム", :root %></div>
        </li>
        <li class="nav-item">
          <div class="nav-link"><%= link_to "過去の記事", :articles %></div>
        </li>
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= link_to "コラムと企画" %>
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-item">
              <%= link_to "各種コラムシリーズ", :special_issue_categories %>
            </div>
            <div class="dropdown-item">
              <%= link_to "複眼鏡", "/special_issue_categories/14" %>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= link_to "観光・映画" %>
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-item">
              <%= link_to "イベントガイド", "/special_issues/34" %>
            </div>
            <div class="dropdown-item">
              <%= link_to "映画情報", "/special_issues/44" %>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link"><%= link_to "釣り情報", :fishinginfos %></div>
        </li>
        <li class="nav-item">
          <div class="nav-link"><%= link_to "Twitter", :microposts %></div>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="nav-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
          </li>
        <% else %>
          <li class="nav-item">
            <div class="nav-link"><%= link_to "ログイン", new_user_session_path %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
