<% if current_user && loyalty(@advertisement, :advertisements).index? %>
  <div class="advertise_form_wrapper">
    <div class="advertise_form_title_label">
      <%= form.label :title %>
    </div>
    <div class=advertise_form_title_field">
    <%= form.text_field :title %>
    </div>
    <div class="advertise_form_content_label">
      <%= form.label :image_url %>
    </div>
    <div class="advertise_form_content_field">
      <%= form.text_field :image_url %>
    </div>
    <div class="advertise_image_select_button">
      <span class="picture_button">
        <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png, video' %>
      </span>
    </div>
  </div>
<% end %>
