<% if current_user && loyalty(@advertisement, :advertisements).index? %>
  <div class="adver_tool">
    <h5><%= link_to "広告新規作成ボタン", new_advertisement_path %></h5>
  </div>
  <table class="index_advertisement">
    <tbody>
    <% @advertisements = Advertisement.order(created_at: :desc) %>
      <% if @advertisements.present? %>
      <% @advertisements.each do |advertisement| %>
        <tr>
          <td class="ad_picture">
            <li><%= link_to image_tag(advertisement.picture.url), advertisement.image_url, target: :_blank, rel: "noopener noreferrer" if advertisement.picture? %></li>
          </td>
          <td class="ad_title"><%= advertisement.title %></td>
          <td class="ad_edit_delete">
            <%= link_to "差替え", [:edit, advertisement ] %> |
                  <%= link_to "削除", advertisement, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
          </td>
          <% end %>
        </tr>
    </tbody>
  </table>
  <% else %>
    <p>広告掲載はありません</p>
  <% end %>
<% end %>
