<% @page_title = "釣り情報の編集" %>
<h1><%= @page_title %></h1>
<div class="toolbar"><%= link_to "釣り情報記事に戻る", @fishinginfo %></div>

<%= form_for @fishinginfo do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit %></div>
<% end %>
