<div class="fishinginfo_index_header">
  <div class="fishinginfo_logo">
    <%= image_tag "fishinginfo.gif", alt: "釣り情報" %>
  </div>

  <% if current_user && loyalty(@fishinginfo, :fishinginfos).index? %>
    <div class="fishinginfo_index_toolbar"><%= link_to "釣り情報を作成する", new_fishinginfo_path, class: "btn btn-outline-primary btn-sm" %></div>
  <% end %>
</div>

<div class="fishinginfo_index_wrapper">
  <% if @fishinginfos.present? %>
    <% @fishinginfos.each do |fishinginfo| %>
      <div class="fishinginfo_index_title">
        <h4><%= fishinginfo.title %></h4>
      </div>
      <div class="fishinginfo_index_content_area">
        <div class="fishing_index_content">
         <%= fishinginfo.content %>
        </div>
      </div>
      <div class="fishinginfo_index_toolbar">
        <%= render "footer", fishinginfo: fishinginfo %>
      </div>
    <% end %>
  <% else %>
    <div class="fishinginfo_index_info">
      <p>釣り情報は現在ありません</p>
    </div>
  <% end %>
</div>
