<% if current_user && loyalty(@questionnaire, :questionnaires).index %>
  <% if current_user.candidate_type == 1 %>
    <h5><%= link_to "2020アメリカ大統領選挙アンケートはこちら", "/questionnaires/show" %></h5>
  <% elsif current_user.candidate_type == 2 %>
    <h5><%= link_to "衆院選アンケートはこちら", "/questionnaires/show/" %></h5>
  <% elsif current_user.candidate_type == 3 %>
    <h5><%= link_to "参院選アンケートはこちら", "/questionnaires/show"  %></h5>
  <% elsif current_user.candidate_type == 4 %>
    <h5><%= link_to "知事選アンケートはこちら", "/questionnaires/show"  %></h5>
  <% elsif current_user %>
    <h5><%= link_to "2020アメリカ大統領選挙アンケートはこちら", "/questionnaires/show"  %></h5>
    <h5><%= link_to "衆院選アンケートはこちら", "/questionnaires/show" %></h5>
    <h5><%= link_to "参院選アンケートはこちら", "/questionnaires/show" %></h5>

    <h5><%= link_to "知事選アンケートはこちら", "/questionnaires/show"  %></h5>
  <% end %>
<% end %>
