
<% @page_title = "ツイートの編集" %>
<h3><%= @page_title %></h3>

<div class="toolbar">
  <div class="text-center">
    <%= link_to "ツイートの表示に戻る", @micropost, class: "btn btn-outline-primary btn-sm" %>
  </div>
</div>

<%= form_for @micropost do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit %></div>
<% end %>
