<div class="micropost_edit_header">
  <div class="micropost_edit_icon">
    <i class="fa fa-twitter fa-3x" aria-hidden="true" style="color: white;"></i>
  </div>
  <div class="micropost_edit_title">
    <h4><%= "Twitter mini" %></h4>
  </div>
</div>
<div class="micropost_edit_indicate">
  <% @page_title = "Tweetを編集する" %>
  <h5><%= @page_title %></h5>
</div>

<div class="micropst_edit_toolbar">
  <%= link_to "ツイートの表示に戻る", @micropost, class: "btn btn-outline-secondary btn-sm" %>
</div>

<div class="micropost_edit_form">
  <%= form_for @micropost do |form| %>
  <%= render "form", form: form %>
    <div>
      <span class="micropost_edit_up_button">
        <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/pdf, video/*' %>
      </span>
    </div>
    <div class="micropost_edit_registrator">
      <%= form.submit class: "btn btn-danger btn-block" %>
    </div>
  <% end %>
</div>
