<% @page_title = @user ? @user.email + "さんのツイート" : "読者のツイート" %>
<h1><%= @page_title %></h1>

<% if current_user %>
  <ul class="toolbar">
    <%= link_to "ツイートの作成", :new_micropost %>
    <%= link_to "投票したツイート", user_micropost_voted_path(@microposts, user_id: current_user.id) %>
  </ul>
<% end %>

<% if @microposts.present? %>
  <% @microposts.each do |micropost| %>
    <p><%= strip_tags(micropost.content.to_s).truncate(100) %></p>
    <% if micropost.picture? %>
      <% if micropost.picture.file.content_type.include?('image/') %>
        <%= image_tag micropost.picture.url(:thumb) %>
      <% else %>
        <%= video_tag micropost.picture.url, width: "30%", height: "30%",
                      controls: true, autobuffer: true %>
      <% end %>
    <% end %>
    <%= link_to "全文表示", micropost %>
    <%= render "footer", micropost: micropost %>
  <% end %>
  <%= paginate @microposts %>
<% else %>
  <p>ツイートはありません</p>
<% end %>
