<div class="micropost_new_header">
  <div class="micropost_new_icon">
    <i class="fa fa-twitter fa-4x" aria-hidden="true" style="color: dodgerblue;"></i>
  </div>
  <div class="micropost_new_title">
    <h4><%= "twitter mini" %></h4>
  </div>
</div>
<div class="micropost_new_indicate">
  <% @page_title = "tweetを作成する" %>
  <h5><%= @page_title %></h5>
</div>

<div class="micropost_new_form">
  <%= form_for @micropost do |form| %>
  <%= render "form", form: form %>
    <div>
      <span class="micropost_new_up_button">
        <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/pdf, video/*' %>
      </span>
    </div>
    <div class="micropost_new_registrator">
      <%= form.submit class: "btn btn-danger btn-block" %>
    </div>
  <% end %>
</div>

<!-- <script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 10) {
      alert('ファイルの最大サイズは10MBです。10MB以下にしてください');
    }
  });
</script> -->
