<div class="micropost_show_header">
  <div class="micropost_show_icon">
    <i class="fa fa-twitter fa-4x" aria-hidden="true" style="color: dodgerblue;"></i>
  </div>
  <div class="micropost_show_title">
    <% @page_title = @user ? @user.name + "さんのツイート" : "twitter mini" %>
    <h4><%= @page_title %></h4>
  </div>
</div>

<div class="micropost_show_author_name">
  <h6><span><% @page_title = @micropost.author.name + "さんのtweets" %><%= @micropost.author.name %>さんのtweet</span></h6>
</div>

<div class="show_micropost_area">
  <div class="show_micropost_content">
  <%= simple_format(@micropost.content) %>
  </div>
  <div class="show_micropost_media">
    <% if @micropost.picture? %>
      <% if @micropost.picture.file.content_type.include?('image/') %>
        <%= image_tag @micropost.picture.url(:thumb) %>
      <% else %>
        <%= video_tag @micropost.picture.url, controls: true, autobuffer: true %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="show_toolbar">
  <%= render "footer", micropost: @micropost %>
</div>
<div class="show_like">
  <%= render "votes" %>
</div>
