<% @page_title = "コラムと企画" %>
<h5><%= @page_title %></h5>

<div class="special_category_button">
  <% if current_user %>
    <div class="toolbar"><%= link_to "コラムカテゴリーを作成する", new_special_issue_category_path %></div>
  <% end %>
</div>

<div class="category_index">
  <div class="special_category_index">
    <% if current_user %>
      <div class="toolbar"><%= link_to "コラムカテゴリーの一覧へ", special_issue_categories_path %></div>
    <% end %>
  </div>
</div>

<div class="special_issue_regist">
  <div class="special_issue_button">
    <% if current_user %>
      <div class="toolbar"><%= link_to "コラム・企画記事を作成する", new_special_issue_path %></div>
    <% end %>
  </div>
</div>

<% if @special_issues.present? %>
  <% @special_issues.each do |special_issue| %>
    <h6><%= link_to special_issue.major_title, special_issue %></h6>
    <p><%= link_to special_issue.minor_title, special_issue %></p>
    <%= render "footer", special_issue: special_issue %>
  <% end %>
  <%= paginate @special_issues %>
<% else%>
  <p>コラム・企画記事はありません</p>
<% end %>
