<div class="sp_issue_index_wrapper">
  <div class="sp_issue_index_title">
    <% @page_title = "コラムと企画" %>
    <h5><%= @page_title %></h5>
    ※管理者向けページ
  </div>

<%= render "special_issue_categories/toolbar" %>

  <div class="sp_issue_index_content_area">
    <% if @special_issues.present? %>
    <table class="sp_issue_table table-md table-condenced">
      <% @special_issues.each do |special_issue| %>
        <tr>
          <td class="sp_issue_index_content_major_title">
            <h6><%= link_to special_issue.major_title, special_issue %></h6>
          </td>
          <td class="strftime">
            <%= special_issue.created_at.strftime("掲載日時  %Y/%m/%d %H:%M") %>
          </td>
          </tr>
            <td class="sp_issue_index_content_minor_title">
              <p><%= special_issue.minor_title %></p>
            </td>
      <% end %>
    </table>
        <%= paginate @special_issues %>
        <% else%>
          <p>コラム・企画記事はありません</p>
    <% end %>
  </div>
</div>
