<% @page_title = "コラム・企画新規作成" %>
  <h5><%= @page_title %></h5>
  
  <h2>コラムカテゴリー分類</h2>
  <% @special_issue_categories = SpecialIssueCategory.order(created_at: :desc).limit(10) %>
  <ul>
    <% @special_issue_categories.each do |special_issue_category| %>
    <li><%= link_to special_issue_category.category_name, special_issue_category %>  = (<%= link_to special_issue_category.id, special_issue_category %>)</li>
    <% end %>
  </ul>

  <%= form_for @special_issue do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit %></div>
<% end %>
