<% @page_title = "コラム・企画" %>

<div class="image_name">
  <% if @special_issue_category.image_name %>
    <%= image_tag @special_issue_category.image_name, size: "150x52", alt: @special_issue_category.category_name %>
  <% end %>
</div>

<div class="special_issue_content">
  <% unless @special_issue.is_display %>
  <h4><%= @special_issue.major_title %></h4>
  <h5><%= @special_issue.minor_title %></h5>
  <%= @special_issue.content %>
</div>

<div class="special_issue_strftime">
  <tr>
    <th>掲載日時</th>
    <td><%= @special_issue.created_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
</div>

<% else %>
<p>コラムの掲載を中止しています</p>
<% end %>
<%= render "footer", special_issue: @special_issue %>
