<%= render "header" %>
<% if current_user %>
  <div class="eventsguide_toolbar">
    <div class="eventsguide_button">
      <%= link_to "イベントガイド情報を作成する", :new_eventsguide, class: "btn btn-outline-primary btn-sm" %>
    </div>
  </div>
  <div class="toolbar_explanation">
    （過去の情報はその都度削除することを推奨します)
  </div>
<% end %>
<% if @eventsguides.each do |eventsguide| %>
  <% unless eventsguide.is_display? %>
    <h3><%= eventsguide.title %></h3>
    <p><%= eventsguide.content %></p>
  <% end %>
  <%= render "footer", eventsguide: eventsguide %>
<% end %>
<% else %>
  <p>イベント情報はありません</p>
<% end %>
