<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- app/assets/javascripts -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="header">
          <%= render "shared/header" %>
        </div>
      </div>
    </div>
    <!-- ここからメイン -->
    <div id="main">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="main_content">
            <% if flash.notice %>
            <p class="notice"><%= flash.notice %></p>
            <% end %>
            <%= yield %>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div id="aside">
            <%= render "shared/sidebar" %>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <%= render "shared/footer" %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </footer>
  </div>
</html>
